html{
	margin: auto;
	text-align: center;

}
table, #info, table#boardWrap{
	margin: auto;
}


table#boardWrap tr {
	border: 1px solid #000;
}

table#boardWrap td {
	padding: 20px;
	border: 1px solid #000;
	width:25px;
}
.red{
	background-color: #ca0202;
}
.yellow{
	background-color: yellow;
}